In [1]:
print("hello world")

hello world

In [3]:
print("hello python one more time")

hello python one more time

In [1]:
import numpy as np 
import pandas as pd  
import matplotlib.pyplot as plt

In [3]:
pd.DataFrame(['age'])

     0
0  age