In [2]:
empty_set = set()
# set with elements 
numbers = {1,2,3,4,5}
mixed_set = {1,"hello",3.14,True}
print(numbers)
print(mixed_set)
# mixed data types 
mixed_set = {1,"hello",3.14,True}
print(mixed_set)

# creating a set from a list 

unique_numbers = set([1,2,2,3,4,4,5])
print(unique_numbers)

{1, 2, 3, 4, 5}
{3.14, 1, 'hello'}
{3.14, 1, 'hello'}
{1, 2, 3, 4, 5}

In [6]:
# common set methods 
set_empty  = set()
set_empty.add(10)
print(set_empty)


# updation 
update = set_empty.update([6,7,8])
print(update)


# remove 
print(set_empty.remove(10))

{10}
None
None

In [15]:
# set operations 

set1 = {1,2,3,4,5}
print(set1)
set2 = {6,7,8,9,5,10}
print(set2)

union = set1.union(set2)
print(union)

intersection  = set1.intersection(set2)
print(intersection)

{1, 2, 3, 4, 5}
{5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{5}

In [21]:
# example usage 

set1 = {1,2,3,4}
set2 = {3,4,5,6}
print(set1 | set2)
print(set1.union(set2))


# intersection
print(set1&set2)
print(set1.intersection(set2))

# difffernce -> in set1 but not in set 2
print(set1-set2)
print(set1.difference(set2))

# symmetric difference 
print(set1^set2)
print(set1.symmetric_difference(set2))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{3, 4}
{3, 4}
{1, 2}
{1, 2}
{1, 2, 5, 6}
{1, 2, 5, 6}

In [ ]:
# no indexing or slicing 
# duplicates are automatically removed 
# you can add or remove elements