In [ ]:
# series = one dimensional array 
# dataframes = two dimensional array

In [1]:
import pandas as pd 
s = pd.Series([10,20,30,40])
print(s)
# noticing the automatic index 0, 1,2,3

0    10
1    20
2    30
3    40
dtype: int64

In [3]:
# we can also define a custom index 
s = pd.Series([10,20,30],index = ["a","b","c"])
print(s)

a    10
b    20
c    30
dtype: int64

In [5]:
# dataframes 2d labeled table 

data = {
    "name":["alice","bob","charlie"],
    "age":[25,30,35],
    "city":["delhi","mumbai","bangalore"]
}

df = pd.DataFrame(data)
print(df)

      name  age       city
0    alice   25      delhi
1      bob   30     mumbai
2  charlie   35  bangalore

In [7]:
# index and labels 
# df.index 
# df.columns

# df.index = ["a","b","c"]
# df.columns = ["name","age","columns"]

In [9]:
# creating dataframes 

import pandas as pd 
data = [
    ["sumit",20],
    ["rahul",21],
    ["charlie",22]
]

df = pd.DataFrame(data,columns = ["name","age"])
print(df)

      name  age
0    sumit   20
1    rahul   21
2  charlie   22

In [10]:
# from dictionary of list 

data = {
    "name": ["sumit","kumar","yadav"],
    "age":[25,30,35]
}
df = pd.DataFrame(data)
print(df)
# key becomes columns and each list becomes
# columns of data

    name  age
0  sumit   25
1  kumar   30
2  yadav   35

In [12]:
# from numpy arrays 

import numpy as np 

arr = np.array([[1,2],[3,4]])
df = pd.DataFrame(arr,columns=["a","b"])
# it's important to provide columns name
print(df)

   a  b
0  1  2
1  3  4

In [18]:
df = pd.read_csv("results.csv")
print(df)

                                                                                              Result for RegNo: 22155135001
Subject_Code Subject_Name                                       External Internal Total Grade                        Credit
100403       Digital Electronics                                49       28       77    B                              3.00
100404       Discrete Mathematics                               33       27       60    C                              4.00
100407       Human Resource Development and Organizational B... 48       28       76    B                              3.00
105401       Computer Organization & Architecture               46       29       75    B                              3.00
...                                                                                                                     ...
Subject_Code Subject_Name                                       External Internal Total Grade                        Credit
100403P      Digital Electronics                                26       14       40    A                              2.00
105401P      Computer Organization & Architecture               26       17       43    A                              2.00
105402P      Design & Analysis of Algorithms                    24       12       36    B                              2.00
105403P      Operating Systems                                  24       16       40    A                              2.00

[769 rows x 1 columns]

In [17]:
# from the web 

url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv"
df = pd.read_csv(url)
print(df)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
# eda (explanatory data analysis)


# basic commands 
df.head() # First 5 rows
df.tail() # Last 5 rows
df.info() # Column info: types, non-nulls
df.describe() # Stats for numeric columns
df.columns # List of column names
df.shape # (rows, columns)

In [26]:
# data selection and filtering 
df = pd.read_csv("results.csv")
print(df)
df.info()
df.describe()
df.columns
df.shape

                                                                                              Result for RegNo: 22155135001
Subject_Code Subject_Name                                       External Internal Total Grade                        Credit
100403       Digital Electronics                                49       28       77    B                              3.00
100404       Discrete Mathematics                               33       27       60    C                              4.00
100407       Human Resource Development and Organizational B... 48       28       76    B                              3.00
105401       Computer Organization & Architecture               46       29       75    B                              3.00
...                                                                                                                     ...
Subject_Code Subject_Name                                       External Internal Total Grade                        Credit
100403P      Digital Electronics                                26       14       40    A                              2.00
105401P      Computer Organization & Architecture               26       17       43    A                              2.00
105402P      Design & Analysis of Algorithms                    24       12       36    B                              2.00
105403P      Operating Systems                                  24       16       40    A                              2.00

[769 rows x 1 columns]
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 769 entries, ('Subject_Code', 'Subject_Name', 'External', 'Internal', 'Total', 'Grade') to ('105403P', 'Operating Systems', '24', '16', '40', 'A')
Data columns (total 1 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Result for RegNo: 22155135001  660 non-null    object
dtypes: object(1)
memory usage: 19.6+ KB

(769, 1)

In [27]:
df = pd.read_csv("pandas_data2.csv")
print(df)

        Date  LocationID  Temperature_Celsius  Humidity_Percent  \
0   20250101           1                 10.0                75
1   20250101           2                  8.0                80
2   20250102           1                 12.0                70
3   20250102           2                  NaN                78
4   20250103           1                 11.0                72
5   20250103           2                  9.0                81
6   20250104           1                 10.0                75
7   20250104           2                  8.0                80
8   20250105           1                 12.0                70
9   20250105           2                 10.0                78
10  20250106           1                 11.0                72
11  20250106           2                  9.0                81
12  20250107           1                 10.0                75
13  20250107           2                  8.0                80
14  20250108           1                 12.0                70
15  20250108           2                 10.0                78
16  20250109           1                 11.0                72
17  20250109           2                  9.0                81
18  20250110           1                 10.0                75
19  20250110           2                  8.0                80
20  20250111           1                 12.0                70
21  20250111           2                 10.0                78
22  20250112           1                 11.0                72
23  20250112           2                  9.0                81
24  20250113           1                 10.0                75
25  20250113           2                  8.0                80
26  20250114           1                 12.0                70
27  20250114           2                 10.0                78
28  20250115           1                 11.0                72
29  20250115           2                  9.0                81
30  20250116           1                 10.0                75
31  20250116           2                  8.0                80
32  20250117           1                 12.0                70
33  20250117           2                 10.0                78
34  20250118           1                 11.0                72
35  20250118           2                  9.0                81
36  20250119           1                 10.0                75
37  20250119           2                  8.0                80
38  20250120           1                 12.0                70
39  20250120           2                 10.0                78
40  20250121           1                 11.0                72
41  20250121           2                  9.0                81
42  20250122           1                 10.0                75
43  20250122           2                  8.0                80
44  20250123           1                 12.0                70
45  20250123           2                 10.0                78
46  20250124           1                 11.0                72
47  20250124           2                  9.0                81
48  20250125           1                 10.0                75
49  20250125           2                  8.0                80

    Wind_Speed_KMH
0             15.0
1             20.0
2             10.0
3             22.0
4             18.0
5              NaN
6             15.0
7             20.0
8             10.0
9             22.0
10            18.0
11            17.0
12            15.0
13            20.0
14            10.0
15            22.0
16            18.0
17            17.0
18            15.0
19            20.0
20            10.0
21            22.0
22            18.0
23            17.0
24            15.0
25            20.0
26            10.0
27            22.0
28            18.0
29            17.0
30            15.0
31            20.0
32            10.0
33            22.0
34            18.0
35            17.0
36            15.0
37            20.0
38            10.0
39            22.0
40            18.0
41            17.0
42            15.0
43            20.0
44            10.0
45            22.0
46            18.0
47            17.0
48            15.0
49            20.0

In [28]:
print(df.head())
# gives first 5 rows 
print(df.tail())
#  gives last 5 rows
print(df.info())
# columns info: types,nulls 
print(df.describe())
# stars of numeric columns 
print(df.columns)
# listof columns names 
print(df.shape)
# it gives rows and columns

       Date  LocationID  Temperature_Celsius  Humidity_Percent  Wind_Speed_KMH
0  20250101           1                 10.0                75            15.0
1  20250101           2                  8.0                80            20.0
2  20250102           1                 12.0                70            10.0
3  20250102           2                  NaN                78            22.0
4  20250103           1                 11.0                72            18.0
        Date  LocationID  Temperature_Celsius  Humidity_Percent  \
45  20250123           2                 10.0                78
46  20250124           1                 11.0                72
47  20250124           2                  9.0                81
48  20250125           1                 10.0                75
49  20250125           2                  8.0                80

    Wind_Speed_KMH
45            22.0
46            18.0
47            17.0
48            15.0
49            20.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 50 non-null     int64
 1   LocationID           50 non-null     int64
 2   Temperature_Celsius  49 non-null     float64
 3   Humidity_Percent     50 non-null     int64
 4   Wind_Speed_KMH       49 non-null     float64
dtypes: float64(2), int64(3)
memory usage: 2.1 KB
None
               Date  LocationID  Temperature_Celsius  Humidity_Percent  \
count  5.000000e+01   50.000000            49.000000          50.00000
mean   2.025011e+07    1.500000             9.959184          76.06000
std    7.284314e+00    0.505076             1.322233           4.04268
min    2.025010e+07    1.000000             8.000000          70.00000
25%    2.025011e+07    1.000000             9.000000          72.00000
50%    2.025011e+07    1.500000            10.000000          76.50000
75%    2.025012e+07    2.000000            11.000000          80.00000
max    2.025012e+07    2.000000            12.000000          81.00000

       Wind_Speed_KMH
count       49.000000
mean        17.020408
std          3.864851
min         10.000000
25%         15.000000
50%         18.000000
75%         20.000000
max         22.000000
Index(['Date', 'LocationID', 'Temperature_Celsius', 'Humidity_Percent',
       'Wind_Speed_KMH'],
      dtype='object')
(50, 5)

In [29]:
print(df.head())

       Date  LocationID  Temperature_Celsius  Humidity_Percent  Wind_Speed_KMH
0  20250101           1                 10.0                75            15.0
1  20250101           2                  8.0                80            20.0
2  20250102           1                 12.0                70            10.0
3  20250102           2                  NaN                78            22.0
4  20250103           1                 11.0                72            18.0

In [30]:
print(df.tail())

        Date  LocationID  Temperature_Celsius  Humidity_Percent  \
45  20250123           2                 10.0                78
46  20250124           1                 11.0                72
47  20250124           2                  9.0                81
48  20250125           1                 10.0                75
49  20250125           2                  8.0                80

    Wind_Speed_KMH
45            22.0
46            18.0
47            17.0
48            15.0
49            20.0

In [31]:
print(df.info)

<bound method DataFrame.info of         Date  LocationID  Temperature_Celsius  Humidity_Percent  \
0   20250101           1                 10.0                75
1   20250101           2                  8.0                80
2   20250102           1                 12.0                70
3   20250102           2                  NaN                78
4   20250103           1                 11.0                72
5   20250103           2                  9.0                81
6   20250104           1                 10.0                75
7   20250104           2                  8.0                80
8   20250105           1                 12.0                70
9   20250105           2                 10.0                78
10  20250106           1                 11.0                72
11  20250106           2                  9.0                81
12  20250107           1                 10.0                75
13  20250107           2                  8.0                80
14  20250108           1                 12.0                70
15  20250108           2                 10.0                78
16  20250109           1                 11.0                72
17  20250109           2                  9.0                81
18  20250110           1                 10.0                75
19  20250110           2                  8.0                80
20  20250111           1                 12.0                70
21  20250111           2                 10.0                78
22  20250112           1                 11.0                72
23  20250112           2                  9.0                81
24  20250113           1                 10.0                75
25  20250113           2                  8.0                80
26  20250114           1                 12.0                70
27  20250114           2                 10.0                78
28  20250115           1                 11.0                72
29  20250115           2                  9.0                81
30  20250116           1                 10.0                75
31  20250116           2                  8.0                80
32  20250117           1                 12.0                70
33  20250117           2                 10.0                78
34  20250118           1                 11.0                72
35  20250118           2                  9.0                81
36  20250119           1                 10.0                75
37  20250119           2                  8.0                80
38  20250120           1                 12.0                70
39  20250120           2                 10.0                78
40  20250121           1                 11.0                72
41  20250121           2                  9.0                81
42  20250122           1                 10.0                75
43  20250122           2                  8.0                80
44  20250123           1                 12.0                70
45  20250123           2                 10.0                78
46  20250124           1                 11.0                72
47  20250124           2                  9.0                81
48  20250125           1                 10.0                75
49  20250125           2                  8.0                80

    Wind_Speed_KMH
0             15.0
1             20.0
2             10.0
3             22.0
4             18.0
5              NaN
6             15.0
7             20.0
8             10.0
9             22.0
10            18.0
11            17.0
12            15.0
13            20.0
14            10.0
15            22.0
16            18.0
17            17.0
18            15.0
19            20.0
20            10.0
21            22.0
22            18.0
23            17.0
24            15.0
25            20.0
26            10.0
27            22.0
28            18.0
29            17.0
30            15.0
31            20.0
32            10.0
33            22.0
34            18.0
35            17.0
36            15.0
37            20.0
38            10.0
39            22.0
40            18.0
41            17.0
42            15.0
43            20.0
44            10.0
45            22.0
46            18.0
47            17.0
48            15.0
49            20.0  >

In [32]:
print(df.describe())

               Date  LocationID  Temperature_Celsius  Humidity_Percent  \
count  5.000000e+01   50.000000            49.000000          50.00000
mean   2.025011e+07    1.500000             9.959184          76.06000
std    7.284314e+00    0.505076             1.322233           4.04268
min    2.025010e+07    1.000000             8.000000          70.00000
25%    2.025011e+07    1.000000             9.000000          72.00000
50%    2.025011e+07    1.500000            10.000000          76.50000
75%    2.025012e+07    2.000000            11.000000          80.00000
max    2.025012e+07    2.000000            12.000000          81.00000

       Wind_Speed_KMH
count       49.000000
mean        17.020408
std          3.864851
min         10.000000
25%         15.000000
50%         18.000000
75%         20.000000
max         22.000000

In [33]:
print(df.columns)

Index(['Date', 'LocationID', 'Temperature_Celsius', 'Humidity_Percent',
       'Wind_Speed_KMH'],
      dtype='object')

In [34]:
print(df.shape)
# it gives number of rows and columns

(50, 5)

In [37]:
# data selction and filtering 

# selecting columns 
df["column_name"]
# as series 
df[["col1","col2"]]
# as dataframe

In [41]:
print(df.loc[0])
# gives first row(bu label)

Date                   20250101.0
LocationID                    1.0
Temperature_Celsius          10.0
Humidity_Percent             75.0
Wind_Speed_KMH               15.0
Name: 0, dtype: float64

In [42]:
print(df.iloc[0])
# gives second row(by position)

Date                   20250101.0
LocationID                    1.0
Temperature_Celsius          10.0
Humidity_Percent             75.0
Wind_Speed_KMH               15.0
Name: 0, dtype: float64

In [43]:
print(df.loc[0,"Date"])
# value at row 0 column "Date"

20250101